footer {
  display: flex;
  flex-direction: column;
  padding: 3em;
  color: white;
  font-size: 1.5em;
  background-color: #00b172;
}

/* Mobile-first mentality */
/* Styling footer when screen is ABOVE 1000px */
@media (min-width: 1000px) {
  footer {
    flex-direction: row;
    background-image: url('../images/spotify-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6em;
    gap: 6em;
  }
}

footer div {
  flex: 1;
}

footer h2 {
  text-decoration: underline;
}

footer img {
  display: block;
  width: 15em;
  margin: 0 auto;
}
