/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 4em;
  line-height: 1.5;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
